html, body {
  scroll-behavior: smooth;
  height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: "et-line", sans-serif;
  font-size: 1.5vw;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@font-face {
  font-family: et-line;
  src: url(../fonts/et-line.eot);
  src: url(../fonts/et-line.eot?#iefix) format("embedded-opentype"), url(../fonts/et-line.woff) format("woff"), url(../fonts/et-line.ttf) format("truetype"), url(../fonts/et-line.svg#et-line) format("svg");
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.7vw;
  font-weight: 400;
}

h3 {
  font-size: 1.5vw;
}

.text--orange {
  color: #F3976C;
  z-index: 1;
}
.text--center {
  text-align: center;
  z-index: 1;
}

.btn {
  display: flex;
  background-color: #F3976C;
  color: #333333;
  padding: 0.5vw 2vw;
  border-radius: 3.5vw;
  z-index: 1;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__bloc {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 0vw;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.navbar__logo {
  display: flex;
  width: 15vw;
}
.navbar__list {
  display: flex;
  flex-direction: row;
}
.navbar__list > li {
  padding: 0 1vw;
}

.footer {
  background-color: #F3976C;
}
.footer__title {
  font-size: 1.3vw;
}

.row-social {
  display: flex;
  flex-direction: row;
}

.bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  padding: 1vw 0vw;
  overflow: hidden;
}
.bloc--lined {
  background-image: url(./../../img/lines-h2-bg.png);
}
.bloc--transparent {
  background-image: url(./../../img/agence-la-panthere.jpg);
  background-attachment: fixed;
  position: relative;
}
.bloc--orange {
  background-image: url(./../../img/image-de-presentation.jpeg);
}
.bloc--texture-papier {
  position: relative;
}

.container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3vw 0vw;
}
.container__title {
  text-align: center;
}
.container--padded {
  padding: 5vw 0vw;
}
.container__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2vw 0vw;
  z-index: 1;
}
.container__column--2 {
  width: 45%;
}
.container__column--4 {
  width: 25%;
}
.container--transparent::before {
  background: url(./../../img/texture-paper.png);
  background-repeat: repeat;
  background-size: 280px 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
.container__logo {
  width: 7vw;
}
.container__service {
  display: flex;
  flex-direction: row;
}
.container__square {
  background-color: rgba(165, 147, 99, 0.7);
  width: 80%;
  padding: 0vw 4vw;
}
.container__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container__gallery {
  width: 50%;
}
.container__footer {
  padding: 0vw 0vw;
}

.img-responsive {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=style.css.map */