@font-face {
    font-family: et-line;
    src: url(../fonts/et-line.eot);
    src: url(../fonts/et-line.eot?#iefix) format('embedded-opentype'), url(../fonts/et-line.woff) format('woff'), url(../fonts/et-line.ttf) format('truetype'), url(../fonts/et-line.svg#et-line) format('svg');
    font-weight: 400;
    font-style: normal
}

h1{
    font-size: 2vw;
}

h2{
    font-size: 1.7vw;
    font-weight: 400;
}

h3{
    font-size: 1.5vw;
}

.text{
    &--orange{
        color: $primary-color;
        z-index: 1;
    }
    &--center{
        text-align: center;
        z-index: 1;
    }
}