$primary-color: #e26b34;
$secondary-color: #333333;
$tertiary-color: white;

$icon-color: #364577;

$shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 20px 0 rgba(0, 0, 0, 0.05);

$breakpoints: (mobile: 480px,tablette:768px ,desktop:1024px);
